*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.navbar{
    width: 100%;
    height: 50px;
    /* border: 1px solid; */
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index:1;
    
}
.logo{
    width: 200px;
    height: 50px;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
}
.nav{
    width: 30%;
    height: 50px;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav>.two{
    width: 100px;
    height: 35px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    /* margin-top: 4px; */
    padding-left:10px;
}
.two>p{
    font-size: 20px;
    letter-spacing: 4px;
}
.two:hover{
    background-color: #CCCCCC;
    cursor: pointer;
    border: none;

}
.logo>h3{
    font-size: 20px;
    padding: 25px;
    /* border: 1px soli/d;*/
   
}
.br{
    /* border: 1px solid red; */
    width: 80%;
    height: 100%; 
    margin-left: 18px;
}
.br>button:hover{
    background-color: #CCCCCC;
    cursor: pointer;
    border: none;
}
.br>button{
    height: 50px;
    width: 100%;
    border: none;
    background-color: transparent;

}
.br>button>span{
    font-weight: bolder;
    font-size: 15px;
    /* margin-left: -30px; */
}
.br>button{
    font-size: 17px;
    letter-spacing: 2.5px;
}
.haeder{
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    background-image: url(../img/architect.jpg);
    background-size: cover;
    padding: 1px;
    /* padding-bottom: 20px; */
}
.haed{
    width: 20%;
    height: 80px;
    /* border: 1px solid green; */
    margin: 320px auto;
    display: flex;
    align-items: center;
}
.black{
    width: 29%;
    height: 85%;
    margin-top: 6.5px;
    background-color: #37393A;
    display: flex;
    white-space: nowrap;
    align-items: center;
    
}
.black>h1{
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.h3{
    width: 70%;
    height: 60px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
.h3>h3{
    color: white;
    font-size: 35px;
    font-weight: lighter;
    padding: 4px;
    letter-spacing: 3px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.project{
    width:100%;
    height: 670px;
    /* border: 1px solid red; */
}
.container{
    width: 95%;
    height: 112vh;
    margin: auto;
    /* border: 1px solid green; */

}
.container>.p1{
    width: 100%;
    height: 38px;
    /* border: 1px solid purple; */
    margin-top: 80px;
    padding-bottom: 15px;
    border-bottom: 1px solid #CCCCCC;
}
.container>.p1>h3{
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25 px;
}
.section{
    width: 100%;
    height: 200px;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
     
}
.box{
    width: 305px;
    height: 220px;
    margin-top: 40px;
    /* border: 1px solid green; */
    background-image: url(../img/house5.jpg);
    background-size: 100% 100%;
}
.b1{
    background-image: url(../img/house4.jpg);
    background-size: 100% 100%;

}
.b2{
    background-image: url(../img/house3.jpg);
    background-size: 100% 100%; 
}
.b3{
    background-image: url(../img/house2.jpg);
    background-size: 100% 100%; 
}
.b4{
    background-image: url(../img/house3.jpg);
    background-size: 100% 100%; 
}
.b5{
    background-image: url(../img/house2.jpg);
    background-size: 100% 100%;
}
.b6{
    background-image: url(../img/house4.jpg);
    background-size: 100% 100%;
}
.b7{
    background-image: url(../img/house5.jpg);
    background-size: 100% 100%;
}
.box>.pro{
    position: relative;
    width: 51%;
    height: 42px;
    background-color: black;
}
.box>.pro>h3{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 18px;
    padding: 10px;
}
.ss{
    padding-left: 8px;
}
.dd{
    padding-left: 8px;
}
.ff{
    padding-left: 8px;
}
.about{
    position: relative;
    width:100%;
    height: 765px;
    margin-top: -100px;
    /* border: 1px solid red; */
}
.card{
    width: 95%;
    height: 135vh;
    margin: auto;
    /* border: 1px solid green; */


}
.card>.p1{
    width: 100%;
    height: 38px;
    /* border: 1px solid purple; */
    margin-top: 80px;
    padding-bottom: 15px;
    border-bottom: 1px solid #CCCCCC;

}
.card>.p1>h3{
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.card>.para{
    width: 100%;
    height: 135px;
    /* border: 1px solid red; */
    margin-top: 25px;
}
.para>p{
    font-size: 18.8px;
    line-height: 25px;
}
.crd{
    width: 100%;
    height: 70%;
    /* border: 1px solid brown; */
    display: flex;
    justify-content: space-between;
}
.crd>.three{
    width: 24%;
    height: 450px;
    /* border: 1px solid blue;  */
}
.crd>.three>.img{
    width: 100%;
    height: 48%;
    /* border: 1px solid yellowgreen; */
   background-image: linear-gradient(rgba(57, 56, 56, 0.254), rgba(69, 69, 69, 0.27)),url(../img/team2.jpg);
   background-size: 100% 100%;
}
.crd>.three>.i1{
    background-image: linear-gradient(rgba(59, 58, 58, 0.254), rgba(49, 49, 49, 0.27)),url(../img/team1.jpg);
   background-size: 100% 100%;
}
.crd>.three>.i2{
    background-image: linear-gradient(rgba(45, 45, 45, 0.254), rgba(52, 51, 51, 0.27)),url(../img/team3.jpg);
   background-size: 100% 100%;
}
.crd>.three>.i3{
    background-image: linear-gradient(rgba(49, 49, 49, 0.254), rgba(56, 55, 55, 0.27)),url(../img/team4.jpg);
   background-size: 100% 100%;
}
.three>h2{
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    color: #828282;
}
.three>h4{
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    color: #828282;
    margin-top: -10px;
}
.three>p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    color: #828282;
    margin-top: -10px;
    line-height: 23px;
}
.btn{
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    color: #828282;
    border: none;
    height: 45px;
    width: 100%;
    font-size: 16px;
}
.btn:hover{
    background-color: rgba(128, 128, 128, 0.387);
    cursor: pointer;
}
.content{
    position: relative;
    width:100%;
    height: 450px;
    margin-top: -100px;
    /* border: 1px solid red; */
}
.content>.ctnt{
    width: 95%;
    height: 70vh;
    margin: auto;
    /* border: 1px solid green; */
}
.ctnt>.p1{
    width: 100%;
    height: 38px;
    /* border: 1px solid purple; */
    margin-top: 80px;
    padding-bottom: 15px;
    border-bottom: 1px solid #CCCCCC;
}
.ctnt>.p1>h3{
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25 px;
}
.ctnt>p{
    font-family: "josefin sans"sans-serif;
    font-size: 19px;
    padding: 13px;
}
.ctnt>input{
    width: 99.6%;
    height: 35px;
    margin: 7px;
    border: #CCCCCC solid 1px;
}
.ctnt>::placeholder{
    font-size: 18px;
}
.ctnt>button{
    width: 13%;
    height: 40px;
    margin: 10px;
    font-size: 18px;
    background-color: black;
    color: aliceblue;
    border: none;
}
.ctnt>button:hover{
    background-color:  #CCCCCC;
    color: black;
}
.background{
    position: relative;
    width:100%;
    height: 550px;
    margin-top: -80px;
    /* border: 1px solid red; */
}
.background>.pic{
    width: 95%;
    height: 88vh;
    margin: auto;
    /* border: 1px solid green; */
    background-image: url(../img/map.jpg);
    background-size: 100% 100%;
}
.footer{
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer>p{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 20px; */
    font-size: 16px;
}
.footer>p>span:hover{
    color: green;
    text-decoration: underline;
}
.footer>p>span{
    text-decoration: underline;

}